HOST="localhost"
DB_USER="root"
PASSWORD="firuant2345#"
DB="concesionario_db"
#Esto es para generar el token de autenticacion de la sesion del usuario
#Puede ser cualquier valor por ejemplo  SECRET_JWT_KEY="buenasatodosguapisimosaquivegettaxd"
SECRET_JWT_KEY="se_va_a_callar_triplehpta"