HOST=
DB_USER=
PASSWORD=
DB=
#Esto es para generar el token de autenticacion de la sesion del usuario
#Puede ser cualquier valor por ejemplo  SECRET_JWT_KEY="buenasatodosguapisimosaquivegettaxd"
SECRET_JWT_KEY=